html {
  font-size: 10px;
  font-family: sans-serif;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

#App {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

#App .container {
  display: flex;
  justify-content: center;
  width: 50%;
  min-width: 60rem;
  max-width: 75rem;
  height: 90%;
}

code {
  display: block;
  white-space: pre-wrap;
  padding: 1.2rem 2rem;
  margin-right: 1rem;
  border-radius: 2rem;
  background-color: #a1e18a;
  font-size: 1.4rem;
  height: 3rem;
  width: 12rem;
}





details summary {
  padding: 1.2rem;
  cursor: pointer;
}

p,
details code {
  margin-top: 1rem;
  margin-bottom: 1.4rem;
}

p {
  line-height: 2.6rem;
}



hr {
  margin: 4rem 0;
}

#App .container .welcome h1 {
  
  font-size: 2.6rem;
}



#App .container .demo .contract-container code {
  min-width: 5rem;
  border-radius: 3rem;
  
}
.demo{
  padding-left: 2rem;
  padding-right: 2rem;
}
#App .container .demo .contract-container .btns {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #71bb59;
  padding: 0.7rem 0.7rem;
  border-radius: 1rem 1rem 1rem 1rem;
  height: 4rem;
}

#App .container .demo .contract-container .btns:hover {
  background-color: #abef95;
}



#App .container footer {
  padding-bottom: 7.5rem;
}

#App .container footer a {
  display: inline-block;
  margin: 2rem 1rem 0 0;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.outputs{
  display: flex;
  align-items:flex-end;
  height: 30rem;
}
.bt {
  display: flex;
  justify-content:center;
  align-self: center;
  margin-top: 1rem;
  
}

.im {
  width: 30px;
}
